*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;

}

body{
    background-color: burlywood;

}

main{
    background-color: wheat;
    width: 500px;
    margin: auto;
    padding: 5%;
}