*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;

}

body{
    background-color: burlywood;

}

main{
    background-color: wheat;
    width: 80%;
    margin: auto;
    padding: 5%;
}
h1{
    align-self: center;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
h2{
    text-align: center;
    align-self: center;
}
p{
    text-align: left;
    padding-top: 2.5%;
}

.icon{
    float: left;
}